@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Figtree, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #70a4eb;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #70a4eb;
  text-decoration: inherit;
}
a:hover {
  color: #9cb0e4;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(-3.16%, #9cb0e4),
    color-stop(78.35%, #67afc5),
    color-stop(159.2%, #18ac9b)
  );
}

h1 {
  @apply text-6xl font-extrabold text-moni-blue;
}

h2 {
  @apply text-3xl font-semibold text-moni-lightblue;
}

h3 {
  @apply text-xl font-semibold text-moni-lightblue;
}

input:focus,
input:focus-visible,
button:focus,
button:focus-visible {
  outline: #70a4eb 2px auto;
}

.dashboard {
  @apply bg-white rounded-xl p-8;
  min-height: 60vh;
  max-width: 100vh;
  min-width: 40vw;
  max-width: 600px;
}

.base-button {
  @apply rounded-xl px-4 py-1 text-center text-sm
  font-extrabold cursor-pointer drop-shadow-lg;
}

.base-button-white {
  @apply base-button bg-white text-moni-blue;
}

.base-button-active {
  @apply bg-moni-blue text-white drop-shadow-none;
}

.base-button-disabled {
  @apply base-button bg-gray-500 cursor-not-allowed pointer-events-none;
}

.base-button:hover {
  @apply bg-moni-lightblue text-white drop-shadow-none;
}

.delete-button {
  @apply bg-moni-error text-white base-button;
}

.login-button {
  @apply base-button-white px-4 py-3;
  min-width: 12rem;
}

.big-button {
  @apply w-full rounded-full p-4 bg-moni-blue text-white font-bold text-xl;
}

.big-button:hover {
  @apply bg-moni-lightblue font-extrabold;
}

.solicitud-card {
  @apply bg-white rounded-xl py-3 px-2.5 text-black;
}

.justify-between-dashboard {
  @apply w-full h-full flex flex-col justify-between;
}
